<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>Tournaments</title>
        <style>
            table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 60%;
      margin: auto;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 5px;
    }
        </style>
    </head>
    <h1 style="text-align: center; background-color:#B3C185;">Tournaments</h1>
    <body style="background-color:#E4E9D3;">
          {{ table|safe }}
    </body>
</html>